@font-face {font-family: "Druk Wide Medium"; src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot"); src: url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e389c5e310dc537b083e0e25ea6eab5.svg#Druk Wide Medium") format("svg"); }
@font-face {font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot"); src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg"); }

#root {
  width: 100vw;
  height: 100%;
  background-color: #fff;
}

.header {
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background: #1F2326;
  color: white;
}

.header__left-side {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logotips {
  display: flex;
  align-items: center;
}

.riot-games {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-line {
  width: 1px;
  height: 28px;
  background: #FFFFFF;
  margin: 0 calc(16px + 24 * ((100vw - 320px) / (1920 - 320)));
}

.valorant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  max-width: 850px;
  margin-left: calc(16px + 40 * ((100vw - 320px) / (1920 - 320)));;
}

.nav li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
}

.nav__dropdown {
  display: flex;
  align-items: center;
}
.nav__droplist-icon {
  margin-left: 8px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.user-info p {
  margin-left: 16px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-settings {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  cursor: pointer;
}

.user-settings:hover .user-settings__droplist {
  width: 8px;
  height: 7px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
  background: rgb(255, 255, 255);
}

.footer a {
  font-size: 12px;
  color: #1F2326;
  opacity: 0.5;
  transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.footer a:hover {
  font-size: 12px;
  color:#FF4656;
  opacity: 1;
}

.author {
  margin-right: 16px;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 135px);
  background: #FF4656;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
  background: url(../src/img/background-img.png) no-repeat;
  background-position: center center;
  background-size: cover;
  mix-blend-mode: multiply;
}

.section {
  height: 100%;
  display: flex;
  padding: 0 calc(16px + 66 * ((100vw - 320px) / (1920 - 320)));
}

.title-block {
  width: 142px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Druk Wide Bold', sans-serif;
  font-size: 104px;
  line-height: 136px;
  letter-spacing: 0.1em;

  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);

  /* transform-origin: 50% 50%; */
  transform: rotateZ(90deg);
}